body, h1, h2, ul, li {
  margin: 0;
  padding: 0;
}
span {
color:brown;
}
h1 {
  background-color:#fff;
  color:skyblue;
  text-align:center;
  margin-bottom:8px;
}
h2 {
  background-color:#fff;
  text-align:center;
  border-bottom:3px solid gray;
  width: 80%;
  margin:0 auto 16px auto;
  padding:16px;
}
li {

  text-align:center;
  list-style:none;
}
.btn-box button {
  border-radius: 25%;
  text-align:center;
  background-color:skyblue;
  padding:16px;
  border:none;
  margin-right: 16px;
  cursor: pointer;
}
.btn-box button:hover {
opacity: .7;
}
.btn-box {
  text-align: center;
  margin: 32px 16px 16px 16px;
}
#quiz {
  white-space: pre;
}
